<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI03_HomeWork(1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C6E6BA1C2168D400EB00D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C6E6D31C2168D400EB00D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C6E6DE1C2168D400EB00D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
