<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI16_homework(1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49148B891C3A55380069A8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49148BA21C3A55380069A8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49148BAD1C3A55380069A8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
